<% content_for :head do %>
  <title>Oops!</title>
<% end %>

    Error page


<!-- def commands
		puts "(note: the words after the '+' sign stand for parameters)" 
		puts 'command 1: 	login (logs you into your nanotwitter account)'
		puts 'command 2: 	feed front (shows the feed of tweets in 					the unlogged-in homepage) '
		
		puts 'command 5:    feed profile (if logged in this shows 						your twitter profile feed) '

		puts 'command 6:    feed home (if logged in this shows your 					twitter home feed)'

		puts 'command 7:    feed profile + username (returns the 						profile feed of certain user)'



		
		puts 'command 3:	tweet new + text (if you are logged in 						you can tweet by doing this command'
	    puts 'command 4:	tweet id (if you are logged in you can 						tweet by doing this command'
		puts 'command 4: 	search + string (searches for tweets 						that include a certain string)' 
		
		
		
		puts 'command 8:    info (if logged in, returns the number 						of tweets, followers and followings'
		puts 'command 9:    info + username (returns the number of 						tweets, followers and followings of a 						certain user)'
		puts 'command 10:   followers (if logged in, returns the 						username of all that follow you)'
		puts 'command 11:   followers + username ( returns the 								username of all the people that 						follow a certain username)'
		puts 'command 12:   followings (if logged in, returns the 						username of all that you follow)'
		puts 'command 13:   followings + username (retuns the 							username of all the peope that a certain 					username follows'
		puts 'command 14:   exit (exits the program)'
		

	end

   
 -->