<% content_for :head do %>
  <title>Oops!</title>
<% end %>

    Hello, there has been an error. While this page would normally tell you what that error was, that function has not yet been implemented.
    We appreciate your patience.
