<% if session[:user_id] && @user.id != session[:user_id]%>
      <%if @follow_status %>
           <button id="unfollow" data-user-name= <%=@user.user_name %>
           class="btn btn-default">Unfollow</button>
       <%else%>
           <button id="follow" data-user-name= <%=@user.user_name %>  class="btn btn-default">Follow</button>
       <% end %>
  <%end%>