<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Nanotwitter : Team Thunderbear&#39;s Nanotwitter Project">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style>
      .mySlides {display:none}
      .w3-left, .w3-right, .w3-badge {cursor:pointer}
      .w3-badge {height:15px;width:15px;padding:0}
      .navbar {display: none;}
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">

    <title>Nanotwitter</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/timetwister4/nanotwitter">View on GitHub</a>

          <h1 id="project_title">Nanotwitter</h1>
          <h2 id="project_tagline">Team Thunderbear&#39;s Nanotwitter Project</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/timetwister4/nanotwitter/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/timetwister4/nanotwitter/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>
<a id="assignment" class="anchor" href="#assignment" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Assignment</h3>

<p>The purpose of this project was to build a lightweight Twitter clone written in Ruby that was well engineered and scalable. Our goal was to create a service that could support thousands of users following one another and posting, liking, and replying to tweets. The resulting application is hosted on <a href="http://secret-shelf-78111.herokuapp.com/front">Heroku</a> and uses a Postgres database and a Redis cache provided by Heroku. </p>

<p>To run your own copy of our nanoTwitter service, all you need to do is clone the repository, push it to a Heroku application with a database and Redis set up, and perform the initial database rake. Enjoy!</p>

<h3>
<a id="screenshots" class="anchor" href="#screenshots" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Screenshots</h3>

<div class="w3-content w3-display-container" style="max-width:800px">
  <img class="mySlides" src="/images/slideshow1.png" style="display:block">
  <img class="mySlides" src="/images/slideshow2.png">
  <img class="mySlides" src="/images/slideshow3.png">
  <img class="mySlides" src="/images/slideshow4.png">
  <img class="mySlides" src="/images/slideshow5.png">
  <img class="mySlides" src="/images/slideshow6.png">
  <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle">
    <div class="w3-left w3-padding-left w3-hover-text-blue" onclick="showPrevious()">&#10094;</div>
    <div class="w3-right w3-padding-right w3-hover-text-blue" onclick="showNext()">&#10095;</div>
    <span class="w3-badge demo w3-border w3-blue w3-hover-blue" onclick="changeTo(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="changeTo(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="changeTo(3)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="changeTo(4)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="changeTo(5)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="changeTo(6)"></span>
    </div>
</div>

<h3>
<a id="technology" class="anchor" href="#technology" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Technology</h3>

<p>nanoTwitter is written in Ruby and utilizes a Sinatra framework, a more lightweight framework than Rails. It relies extensively on Redis, which handles every feed including the front page. </p>

<h3><a id="load-tests" class="anchor" href="#load-tests" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Load Tests</h3>

<h4>GET http://secret-shelf-78111.herokuapp.com/</h4>
<div style="width: 600px;">
<iframe width='600' height='300' frameborder='0' src='//share.loader.io/reports/e2f30e5332395e53242ed35716e40eb6/widget/results/48b82c7ee459fc773f46eed7fa66cdb3'></iframe>
<div style="width: 100%; text-align: right;">
<a href="http://loader.io/reports/e2f30e5332395e53242ed35716e40eb6/results/48b82c7ee459fc773f46eed7fa66cdb3" target="_blank" style="padding: 0 10px 10px 0; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px;">View on loader.io</a>
</div></div>

<div class="results-summary">
  <div class="responses" style="float: left;">
    <div>
      <h5>Response Times</h5>
      <table>
        <tbody><tr>
          <th>Average</th>
          <td><span>1845</span> ms</td>
        </tr>
        <tr>
          <th>Min/Max</th>
          <td><span>12 / 4197</span> ms</td>
        </tr>
      </tbody></table>
    </div>
  </div>
  <div class="errors" style="float: right; margin: 0px 40px;">
    <div>
      <h5 style="text-align: right;">Response Counts</h5>
      <table>
        <tbody><tr>
          <th>Success</th>
          <td>15614</td>
          <th>Timeout</th>
          <td>0</td>
        </tr>
        <tr>
          <th>400/500</th>
          <td>0 / 0</td>
          <th>Network</th>
          <td>0</td>
        </tr>
        <tr>
        </tr>
      </tbody></table>
    </div>
  </div>
  <div class="activity" style="clear: both;">
    <div>
      <h5>Bandwidth</h5>
      <table>
        <tbody><tr>
          <th>Sent</th>
          <td>9.92 MB</td>
        </tr>
        <tr>
          <th>Received</th>
          <td>327.01 MB</td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>

<h4>GET http://secret-shelf-78111.herokuapp.com/?user=Verda&password=123</h4>
<div style="width: 600px;">
<iframe width='600' height='300' frameborder='0' src='//share.loader.io/reports/ccaba6e80655eda8d3da505f1041a12b/widget/results/027e1e95bdfbbf3577f02a629cb99521'></iframe>
<div style="width: 100%; text-align: right;">
<a href="http://loader.io/reports/ccaba6e80655eda8d3da505f1041a12b/results/027e1e95bdfbbf3577f02a629cb99521" target="_blank" style="padding: 0 10px 10px 0; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px;">View on loader.io</a>
</div></div>
<div class="results-summary">
  <div class="responses" style="float: left;">
    <div>
      <h5>Response Times</h5>
      <table>
        <tbody><tr>
          <th>Average</th>
          <td><span>2520</span> ms</td>
        </tr>
        <tr>
          <th>Min/Max</th>
          <td><span>15 / 9318</span> ms</td>
        </tr>
      </tbody></table>
    </div>
  </div>
  <div class="errors" style="float: right; margin: 0px 40px;">
    <div>
      <h5 style="text-align: right;">Response Counts</h5>
      <table>
        <tbody><tr>
          <th>Success</th>
          <td>5374</td>
          <th>Timeout</th>
          <td>0</td>
        </tr>
        <tr>
          <th>400/500</th>
          <td>0 / 121</td>
          <th>Network</th>
          <td>0</td>
        </tr>
        <tr>
        </tr>
      </tbody></table>
    </div>
  </div>
  <div class="activity" style="clear: both;">
    <div>
      <h5>Bandwidth</h5>
      <table>
        <tbody><tr>
          <th>Sent</th>
          <td>3.97 MB</td>
        </tr>
        <tr>
          <th>Received</th>
          <td>203.24 MB</td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>

<h4>GET http://secret-shelf-78111.herokuapp.com/?user=Verda&password=123?randomtweet=50</h4>
<div style="width: 600px;">
<iframe width='600' height='300' frameborder='0' src='//share.loader.io/reports/6ef9170cb621439404acb9944fa5a08a/widget/results/f82edfdb66b22917aa95eecb8eed4332'></iframe>
<div style="width: 100%; text-align: right;">
<a href="http://loader.io/reports/6ef9170cb621439404acb9944fa5a08a/results/f82edfdb66b22917aa95eecb8eed4332" target="_blank" style="padding: 0 10px 10px 0; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px;">View on loader.io</a>
</div></div>
<div class="results-summary">
  <div class="responses" style="float: left;">
    <div>
      <h5>Response Times</h5>
      <table>
        <tbody><tr>
          <th>Average</th>
          <td><span>3115</span> ms</td>
        </tr>
        <tr>
          <th>Min/Max</th>
          <td><span>76 / 9800</span> ms</td>
        </tr>
      </tbody></table>
    </div>
  </div>
  <div class="errors" style="float: right; margin: 0px 40px;">
    <div>
      <h5 style="text-align: right;">Response Counts</h5>
      <table>
        <tbody><tr>
          <th>Success</th>
          <td>4275</td>
          <th>Timeout</th>
          <td>0</td>
        </tr>
        <tr>
          <th>400/500</th>
          <td>0 / 121</td>
          <th>Network</th>
          <td>0</td>
        </tr>
        <tr>
        </tr>
      </tbody></table>
    </div>
  </div>
  <div class="activity" style="clear: both;">
    <div>
      <h5>Bandwidth</h5>
      <table>
        <tbody><tr>
          <th>Sent</th>
          <td>3.26 MB</td>
        </tr>
        <tr>
          <th>Received</th>
          <td>161.71 MB</td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>


<h3>
<a id="Screencast" class="anchor" href="#Screencast" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Screencast</h3>
<iframe width="1000" height="600" src="https://www.youtube.com/embed/wP453dUrSL4">
</iframe>

<h3>
<a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>nanoTwitter was written by Tristan Ramirez de Haro (<a href="https://github.com/tristanibus" class="user-mention">@tristanibus</a>), Anne Charnes (<a href="https://github.com/timetwister4" class="user-mention">@timetwister4</a>) and Shaul Vin (<a href="https://github.com/b7q" class="user-mention">@b7q</a>) in the Fall of 2016. This project would not have been possible without the guidance and encouragement of our Professor, Pito Salas, and our teaching assistants, Karishma Khan and Alex Suk.  </p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Nanotwitter maintained by <a href="https://github.com/timetwister4">timetwister4</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

<script src="/js/jquery.js"></script>
<script src="/js/slideshow.js"></script>

</body>
</html>
