<% content_for :head do %>
  <title>nanoTwitter Home</title>
<% end %>
<div class="container">
   <div class="row" background-color>
 	   <div class= "col-md-6 col-md-offset-3" >
    	   <h1>Recent Tweets</h1>
        	 <%= erb :feed %>
        </div>
    </div>
</div>
