<% content_for :head do %>
  <title>nanoTwitter Home</title>
<% end %>

  <div class="container">
   <div class="row" background-color>
    <div class= "col-md-6 col-md-offset-3" >
            <h1>Recent Tweets</h1>
            <br>
            <%byebug%>
          <% @tweets.each do |tweet| %>
            <% tweet = JSON.parse(tweet) %>
              <div class="panel panel-default">
                <div class="panel panel-heading">
                  <a href = <%="/user/"+ tweet["author_name"]%>><%=tweet["author_name"]%></a> tweeted at <%=tweet["created_at"]%> :
                </div>
                <div class ="panel panel-body">
                  <%= tweet["text"]%>
                </div>
              </div>
              <br>
            <%end%>
          </div>
        </div>
      </div>
