<% content_for :head do %>
  <title>Seach Query</title>
<% end %> 
  <h4> These are the search results for '<%=@keyword%>'</h4>
    <div class="container">
      <div class="row" background-color>
          <div class= "col-md-6">
           <%= erb :feed %> 
          </div>
      </div>
    </div>
