<% content_for :head do %>
  <title> #<%=@tag%> </title>
<% end %> 
 <div class="container">
     <div class="row" background-color>
        <div class= "col-md-6 col-md-offset-3" >
            <strong> <h1> #<%=@tag %> </h1> </strong><br>
                <%= erb :feed %>
        </div>
     </div>
 </div>
